<section [ngClass]="{'loading': !taskList.length}" >
  <!-- Caso a taskList for 0 ele não aparecerá -->
  <ul *ngIf="taskList.length"> 
    <li *ngFor="let item of taskList; let i = index;">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input type="text" (keyup)="validationInput(item.task, i)" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}">
 
      <button (click)="deleteItem(i)">
        <img class='delete-icon'src="../../../../../assets/delete.png" alt="delete-icon">
      </button>
    </li>
  </ul>
</section>
<app-add-items (sendInputValue)="getNewTask($event)"></app-add-items>
<app-btn-delete-all *ngIf="taskList.length" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></app-btn-delete-all>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header"></div>
      <div class="modal-body">
        <h4>Deseja excluir todos os itens?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">NÃO</button>
        <button (click)="confirmDeleteAll()" type="button" class="btn btn-danger" data-bs-dismiss="modal">SIM</button>
      </div>
    </div>
  </div>
</div>

