<section [ngClass]="{'loading': !taskList.length}">
  <!-- Caso a taskList for 0 ele não aparecerá -->
  <ul *ngIf="taskList.length"> 
    <li *ngFor="let item of taskList; let i = index;">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input type="text" [(ngModel)]="item.task">
 
      <button (click)="deleteItem(i)">
        <img class='delete-icon'src="../../../../../assets/delete.png" alt="delete-icon">
      </button>
    </li>
  </ul>
</section>
<app-add-items></app-add-items>
<app-btn-delete-all *ngIf="taskList.length" (click)="deleteAll()"></app-btn-delete-all>

<div *ngIf="modalControl" class="modal-container">a</div>
